.works-block {
    background: #FEF3FF;

    .works-block__images-blocks {
        padding: 70px 0 140px 0;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;

        .images__block {
            position: relative;

            img {
                height: 430px;
                width: 320px;
                border-radius: 10px;
            }

            div {
                position: absolute;
                top: 400px;
                left: 40px;
                height: 61px;
                width: 320px;
                background: #392F85;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;

                span {
                    font-family: 'Mulish';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 25px;
                    text-align: center;

                    color: #FEF3FF;
                }
            }
        }
    }

    h2 {
        font-family: 'Scotch';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 69px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #D34A2E;
        padding-bottom: 74px;
    }
}