@mixin title-font {
    font-family: 'Scotch';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 69px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

@mixin text-font {
    font-family: 'Mulish';
    font-weight: 500;
}

.education {
    position: relative;
    height: 650px;
    padding: 50px 0;
    background: #FEF3FF;

    .education__image {
        position: absolute;
        top: 0;
        left: 0;

        img {
            width: 100%;
            max-height: 650px;
        }
    }

    .education__block {
        position: relative;

        .education__text {
            max-width: 40%;
            position: absolute;
            top: 0;
            right: 0;

            h2 {
                @include title-font;
                padding-bottom: 30px;
                text-align: center;

                color: #392F85;
            }

            p {
                @include text-font;
                padding-bottom: 15px;
                font-size: 20px;
                line-height: 25px;

                color: #464646;

                span {
                    text-transform: uppercase;
                    font-weight: 800;
                    font-size: 25px;
                    color: #D34A2E;
                }
            }

            .education__button {
                padding-top: 25px;

                button {
                    @include text-font;
                    cursor: pointer;
                    width: 350px;
                    height: 70px;
                    border: none;
                    text-transform: uppercase;
                    background: #D34A2E;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    font-size: 20px;
                    line-height: 50px;
                    align-items: center;

                    color: #FFFFFF;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .education {
        padding: 10px 0;

        .education__image {
            img {
                width: 55%;
                max-height: none;
                // overflow: hidden;
            }
        }

        .education__block {
            .education__text {
                h2 {
                    font-size: 45px;
                    line-height: 50px;
                    letter-spacing: 0.02em;
                    padding: 20px 0;
                    // overflow: hidden;
                }

                p {
                    font-size: 18px;
                    padding-bottom: 14px;
                    line-height: 23px;

                    span {
                        font-size: 17px;
                    }
                }

                .education__button {
                    padding-top: 14px;

                    button {
                        width: 270px;
                        height: 50px;
                        font-size: 16px;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {}

@media screen and (min-width: 320px) and (max-width: 480px) {}