.movie {
    padding: 27px 0 109px 0;

    .movie__title {
        font-family: 'Scotch';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 69px;

        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #392F85;
    }
}