@mixin title-font {
    font-family: 'Scotch';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 69px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
}

@mixin text-font {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    color: #464646;
}

.about-block {
    position: relative;
    background: #FEF3FF;
    overflow: hidden;

    .about-block__title-block {
        display: flex;
        justify-content: center;
        align-items: center;

        .about-block__title {
            @include text-font;
            padding: 30px 0;
            text-align: center;
            font-size: 30px;
            font-style: italic;
            padding-right: 10px;
        }

        img {
            height: 50px;
            width: 50px;
        }
    }


    .about-block__block {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        height: 100%;
        overflow: hidden;

        .about-block__text {
            width: 50%;
            padding: 0 20px;
        }

        h2 {
            @include title-font;
            padding: 30px 0;
            text-align: center;
            color: #392F85;
        }

        p {
            @include text-font;
            font-size: 22px;
            padding-bottom: 20px;

            span {
                text-transform: uppercase;
                font-weight: 800;
                font-size: 25px;
                color: #D34A2E;
            }
        }

        .about-block__text_last {
            padding-bottom: 100px;
        }

        .about-block__image {
            position: absolute;
            right: 0px;
            width: 50%;
            height: 100%;
            background: url('../../../images/about_photo.jpg') no-repeat right top;
            background-size: contain;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .about-block {
        .about-block__title-block {
            .about-block__title {
                padding: 12px 0;
                font-size: 20px;
                letter-spacing: 0.02em;
                padding-right: 8px;
            }

            img {
                height: 35px;
                width: 35px;
            }
        }


        .about-block__block {
            height: 100%;
            max-height: 480px;
            overflow: hidden;
            padding-bottom: 0px;

            .about-block__text {
                width: 50%;
                padding-bottom: 25px;
                overflow: hidden;
            }

            h2 {
                font-size: 45px;
                line-height: 50px;
                letter-spacing: 0.02em;
                padding: 20px 0;
            }

            p {
                font-size: 18px;
                padding-bottom: 14px;
                line-height: 23px;

                span {
                    font-size: 17px;
                }
            }

            .about-block__text_last {
                padding-bottom: 13px;
            }

            .about-block__image {
                position: absolute;
                right: 0px;
                width: 50%;
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {}

@media screen and (min-width: 320px) and (max-width: 480px) {}