@mixin title-font {
    font-family: 'Scotch';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 69px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

@mixin text-font {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    color: #464646;
}

.about-block {
    position: relative;
    background: #FEF3FF;

    .about-block__title-block {
        display: flex;
        justify-content: center;
        align-items: center;

        .about-block__title {
            @include text-font;
            padding: 30px 0;
            text-align: center;
            font-size: 30px;
            font-style: italic;
            padding-right: 10px;
        }

        img {
            height: 50px;
            width: 50px;
        }
    }


    .about-block__block {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        height: 691px;

        .about-block__text {
            width: 50%;
        }

        h2 {
            @include title-font;
            padding: 30px 0;
            text-align: center;
            color: #392F85;
        }

        p {
            @include text-font;
            font-size: 22px;
            padding-bottom: 20px;

            span {
                text-transform: uppercase;
                font-weight: 800;
                font-size: 25px;
                color: #D34A2E;
            }
        }

        .about-block__image {
            position: absolute;
            right: 0px;
            width: 50%;

            img {
                position: absolute;
                right: 0px;
            }
        }
    }
}