.services-block {
    background: #5F5F5F;
    color: #FEF3FF;

    .services-block__title {
        font-family: 'Scotch';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 69px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding: 55px 0 67px 0;
    }

    .services-block__list {
        margin: 0 85px;

        .list__menu-block {
            position: relative;

            .list__menu {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                transition: all 0.8s ease-out;

                .list__menu-btn {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;

                    font-family: 'Mulish';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 35px;
                    line-height: 80px;
                    text-transform: uppercase;
                    background: transparent;
                    border: none;
                    color: #FEF3FF;
                }

                .sub-list__menu {
                    font-family: 'Mulish';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 23px;
                    line-height: 25px;
                    color: #5F5F5F;
                    background: #FEF3FF;
                    padding: 20px 40px;
                    border-radius: 20px;

                    hr {
                        height: 1px;
                        background: #5F5F5F;
                        border: none;
                    }
                }

                .sub-list__item {
                    display: flex;
                    justify-content: space-between;
                    flex-flow: row nowrap;

                    span {
                        font-weight: 700;
                    }
                }

                .sub-list__menu-enter {
                    opacity: 0;
                    transform: scale(0.9);
                }

                .sub-list__menu-enter-active {
                    opacity: 1;
                    transform: translateX(0);
                    transition: opacity 300ms, transform 300ms;
                }

                .sub-list__menu-exit {
                    opacity: 1;
                }

                .sub-list__menu-exit-active {
                    opacity: 0;
                    transform: scale(0.9);
                    transition: opacity 300ms, transform 300ms;
                }

            }
        }
    }

    .services-block__shy {
        display: inline-block;
        padding: 100px 0;

        display: flex;
        justify-content: center;

        .services-block__shy-block {
            background: #D34A2E;
            padding: 24px 30px;

            .shy-block__shy-title {
                font-family: 'Scotch';
                font-style: normal;
                font-weight: 400;
                font-size: 60px;
                line-height: 69px;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;

                color: #FEF3FF;
            }

            .shy-block__shy-text {
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 38px;
                text-align: center;

                color: #FEF3FF;
            }
        }
    }
}