@mixin title-font {
    font-family: 'Scotch';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 69px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
}

@mixin text-font {
    font-family: 'Mulish';
    font-weight: 500;
}

.services-block {
    background: #5F5F5F;
    color: #FEF3FF;

    .services-block__title {
        @include title-font;
        padding: 50px 0;
    }

    .services-block__list {
        margin: 0 85px;

        .list__menu-block {
            position: relative;

            .list__menu {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;

                .list__menu-btn {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;

                    @include text-font;
                    font-size: 35px;
                    line-height: 55px;
                    text-transform: uppercase;
                    background: transparent;
                    border: none;

                    color: #FEF3FF;
                }

                .sub-list__menu {
                    @include text-font;
                    font-size: 23px;
                    line-height: 25px;
                    background: #FEF3FF;
                    padding: 20px 40px;
                    border-radius: 20px;

                    color: #5F5F5F;

                    hr {
                        height: 1px;
                        background: #5F5F5F;
                        border: none;
                    }
                }

                .sub-list__item {
                    display: flex;
                    justify-content: space-between;
                    flex-flow: row nowrap;

                    span {
                        font-weight: 700;
                    }
                }

                .sub-list__menu-enter {
                    opacity: 0;
                    transform: scale(0.9);
                }

                .sub-list__menu-enter-active {
                    opacity: 1;
                    transform: translateX(0);
                    transition: opacity 300ms, transform 300ms;
                }

                .sub-list__menu-exit {
                    opacity: 1;
                }

                .sub-list__menu-exit-active {
                    opacity: 0;
                    transform: scale(0.9);
                    transition: opacity 300ms, transform 300ms;
                }

            }
        }
    }

    .services-block__shy {
        display: inline-block;
        display: flex;
        justify-content: center;
        padding: 50px 0 100px 0;


        .services-block__shy-link {
            cursor: default;
            padding: 24px 30px;
            background: #D34A2E;
            text-decoration: none;

            .shy-link__title {
                @include title-font;

                color: #FEF3FF;
            }

            .shy-link__text {
                @include text-font;
                font-size: 25px;
                line-height: 38px;
                text-align: center;

                color: #FEF3FF;
            }
        }
    }
}