@mixin title-font {
    font-family: 'Mulish';
    font-weight: 500;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header {
    position: relative;
    top: 0;
    width: 100%;
    height: 96vh;
    overflow: hidden;

    background: url('../../../images/main_face.png') no-repeat center;
    background-size: cover;
    z-index: 0;
    text-align: left;

    .header__title {
        padding-top: 70vh;
        display: inline-block;
        text-align: center;
    }

    .header__title>h1 {
        @include title-font;
        font-size: 40px;
        line-height: 40px;
        border-bottom: 2px solid #FFFFFF;
    }

    .header__title>h2 {
        @include title-font;
        font-size: 52px;
        line-height: 53px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .header {
        .header__title>h1 {
            font-size: 33px;
            line-height: 33px;
            border-bottom: 2px solid #FFFFFF;
        }

        .header__title>h2 {
            font-size: 43px;
            line-height: 44px;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {}

@media screen and (min-width: 320px) and (max-width: 480px) {}