.reviews-slider {
    height: 200px;
    margin: 0 25px;
    padding-bottom: 50px;

    .carousel {
        background: #fff;
        position: relative;
        height: 160px;

        p {
            padding: 30px 50px;
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 30px;

            color: #464646;
        }

        img {
            height: 30px;
            width: 30px;
        }

        // Номер слайда
        .carousel-status {
            display: none;
        }

        // Стрелки вправо и влево
        .control-arrow {
            opacity: 0.7;
            height: 50px;
            width: 50px;
            -webkit-mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center;
            -webkit-mask-image: url('../../../../icons/double-arrow.svg');
            background-color: #392F85;
            margin-top: 35px;

            &:hover {
                background-color: #392F85;
                opacity: 1;
                height: 60px;
                width: 60px;
                margin-top: 30px;
            }

            &:before {
                display: none;
            }
        }

        .control-prev {
            transform: rotate(270deg);
            left: 0;

            &:before {
                border-right: 8px solid #392F85;
            }
        }

        .control-next {
            transform: rotate(90deg);
            right: 0;

            &:before {
                border-left: 8px solid #392F85;
            }
        }

        // Точки
        .control-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: -20px;
            height: 50px;
            background: #FEF3FF;

            .dot {
                opacity: 1;
                height: 12px;
                width: 12px;
                border: 2px solid #D34A2E;
            }

            .selected {
                background: #D34A2E;
            }
        }

        .reviews-slider__text_two {
            padding: 45px 50px;
        }

        .reviews-slider__text_five {
            padding: 15px 50px;
        }

        .reviews-slider__text_six {
            padding: 45px 50px;
        }

    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {}

@media screen and (min-width: 481px) and (max-width: 767px) {}

@media screen and (min-width: 320px) and (max-width: 480px) {}